<div class="flex justify-between my-2 text-amber-50 px-3">
    <span></span>
    <h1 class="text-3xl text-center font-bold">Todo List</h1>
    <% if (currentUser) { %>
        <form action="/logout" method="post">
            <button class="bg-red-500 rounded py-1 px-2">Logout</button>
        </form>
    <% } else { %>
        <span></span>
    <% } %>
</div>
